div {
    border-radius: 100px;
    font-family: sans-serif;
}
#header {
    position: fixed;
    background-color: #1CBABC;
    color: white;
    height: 100px;
    width: 95%;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 38px;
}
#footer {
    position: relative;
    height: 100px;
    width: 96%;
    color: white;
    background-color: #1CBABC;
    clear: both;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}